
body{
  background-color:white;
  color:#fff;
}




.row{
  clear: both;
  padding: 0;
  margin: 0;
}

.col{
  display: block;
  float: left;
  margin: 1% 1% 0 1%;
}

.col:first-child{margin-left: 0;}

.group:before,
.group:after {
	content:"";
	display:table;
}

.group:after {
	clear:both;
}

.span-12{
  width: 100%;
}

.span-8{
  width: 73%;
}
.span-2{
  width:50%;
}
.span-3{
  width:33.3%;
}
.span-4{
  width:23%;
}
.span-5{
  width:20%;
}
